 <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center">
        <a href="/productCreate" class="btn btn-success d-block mb-3">Crear</a>
        <a href="/updateProduct" class="btn btn-primary d-block mb-3">Editar</a>
        <a href="/deleteProduct" class="btn btn-danger d-block mb-3">Eliminar</a>
        <a href="/admin/getuser" class="btn btn-info d-block mb-3">User Manager</a>
      </div>
    </div>
  </div>