<h2>Cargue los datos para crear el nuevo prodcuto</h2>

<form action="/api/products" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" class="form-control" id="price" name="price">
    </div>
    <div class="mb-3">
      <label for="thumbnail" class="form-label">Thumbnail:</label>
      <input type="text" class="form-control" id="thumbnail" name="thumbnail">
    </div>
    <div class="mb-3">
      <label for="code" class="form-label">Code:</label>
      <input type="text" class="form-control" id="code" name="code">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category:</label>
      <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock:</label>
      <input type="number" class="form-control" id="stock" name="stock">
    </div>
    <button type="submit" class="btn btn-primary">Enviar información</button>
</form>
<br>
<a href="/admin"><button type="submit" class="btn btn-primary">Menú Admin</button> </a>