<form class="mt-5" method="post" action="/sessions/emailSend">
  
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" name="user" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  

 

  
  <button type="submit" class="form-control btn btn-primary ">Enviar Email</button>
  

</form>