<div>
    <h1 class="text-center">Presiona el botón para cambiar tu Rol</h1>
        
        
            <input type="hidden" value="{{user}}" id="idUser">
            <button id="btnChangeUser" class="btn form-control btn-primary" type="button">Cambiar</button>  
            
       
</div>


<script src="/js/changeUser.js"></script>