<div>
    <h1>Presiona el botón para cambiar tu Rol</h1>

        <form action="/api/user/premium/{{this.user._id}}" method="post">
            <input class="btn form-control btn-primary" type="submit" value="Cambiar">
            
        </form>    
</div>
