<h1>Compra exitosa!!!</h1>

<h2>Detalle de la compra</h2>

<ul>
    <li>Detalle: {{this.detail}}</li>
    <li>Precio Total: {{this.amount}}</li>
    <li>Código de la compra: {{this.code}}</li>
    <li>Fecha: {{this.purchase_datetime}}</li>
</ul>

<h4>Si algún producto no figura en el detalle, es por falta de stock.</h4>


<a href="/products">Seguir Comprando</a>
<a href="/sessions/logout">Cerrar Sesión</a>